@import "button";
@import "keyboard";
@import "input";
@import "constants";

html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: $primary-color;
    color: $accent-color;
    font-family: $font-main;
    padding: $base-unit * 2;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.app-container {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
}

.app-header {
    text-align: center;
    margin: 0;
}