@font-face {
    font-family: KaushanScript;
    src: url('./fonts/KaushanScript-Regular.otf');
}

$primary-color: rgb(94, 0, 58);
$accent-color: white;
$complementary-color: #94005b;
$shadow-color: darkgray;
$font-main: KaushanScript;
$base-unit: 8px;