@font-face {
    font-family: KaushanScript;
    src: url('./fonts/KaushanScript-Regular.otf');
}

$primary-color: rgb(94, 0, 58);

$accent-color: white;

$complementary-color: #94005b;

$shadow-color: darkgray;

$font-main: KaushanScript;

$base-unit: 8px;

$button-size: $base-unit * 7;
$button-font-size: $base-unit * 2.5;

$input-font-size: $base-unit * 3.5;

